@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
	font-family: Roboto;
}
.input-group input {
	border-radius: 2rem;
}
.input-group button {
	border-radius: 2rem;
}
.navbar {
	background: #007bff;
	background: linear-gradient(to right, #00818a, #283149);
}
a {
	color: white;
}
.btn:focus, .btn:active, .input:focus, .input:active, .form-control:focus, .form-control:active {
   	outline: none !important;
  	box-shadow: none !important;
  	border-color: #404b69;
  	-webkit-appearance:none;
}

#searchButton {
	background: #00818a;
	border: #00818a;
}

#searchButton:active {
   	background: #404b69 !important;
   	border-color: #404b69;
}

#content-container .btn:active {
  background-color: #404b69 !important;
  border-color: #404b69 !important;
}
#content-container .btn {
	font-size: 100%;
	border: 0;
	height: auto;
	border-radius: 5rem;
	transition: all 0.2s;
	color: white;
	background: #00818a;
	width: 100%;
	text-align: center;
	padding: 10px 0;
}