@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
	font-family: Roboto;
}
.input-group input {
	border-radius: 2rem;
}
.input-group button {
	border-radius: 2rem;
}
.navbar {
	background: #007bff;
	background: linear-gradient(to right, #00818a, #283149);
}
a {
	color: white;
}
.navbar-brand {
    max-width: 80px;
}
#content-container {
    margin-bottom: 15px;
}
.btn:focus, .btn:active, .input:focus, .input:active, .form-control:focus, .form-control:active {
   	outline: none !important;
  	box-shadow: none !important;
  	border-color: #404b69;
  	-webkit-appearance:none;
}

.btn, #search-btn {
	background: #00818a;
	border: #00818a;
	transition: all 0.2s;
}

.btn:active, #search-btn:active {
   	background: #404b69 !important;
   	border-color: #404b69;
}

.btn:hover, #search-btn {
  background-color: #00818a;
  border-color: #00818a;
}
#load-recipes, .recipe .btn  {
	font-size: 100%;
	border: 0;
	height: auto;
	border-radius: 5rem;
	color: white;
	background-color: #00818a;
	padding: 6px 10px;
	margin-bottom: 6px;
}
#load-recipes {
    padding: 16px 20px;
}
.preview {
    max-height: 300px;
}
#cat-img {
    max-width: 100%;
}
