#recipe-container  {
  padding-top: 15px;
  padding-bottom: 25px
}
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
    border-color: #404b69;
    -webkit-appearance:none;
}
.btn:active {
  background-color: #404b69 !important;
  border-color: #404b69 !important;
}
#recipe-container .btn:hover {
  background-color: #00818a;
  border-color: #00818a;
}
#recipe-container .btn {
	font-size: 100%;
	border: 0;
	height: auto;
	border-radius: 5rem;
	transition: all 0.2s;
	color: white;
	background-color: #00818a;
	width: 100%;
	padding: 6px 0;
	margin-bottom: 6px;
}
#ingredients, #steps {
    padding-bottom: 15px;
}
.form-control, .card {
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    border-radius: 2rem;
 }
.card-header:first-child {
    border-radius: 2rem 2rem 0 0;
}
.comment-text {
   word-break: break-all;
   word-wrap: break-word;
}
#steps p {
    margin: 0;
}
#like {
    cursor: pointer;
}